*
{
    margin:0px;
    padding:0px;
    box-sizing: 10px;
}

body 
{
 background-color:rgb(255, 187, 0);
 
 
}
#heading
{
    background-color: rgba(0, 255, 255, 0.098);
    font-size: 50px;
    border-color: antiquewhite;
    border-width:4px ;
    border-style: dotted;
    border-radius: 12px;
    color:red;
    text-align: center;
}

table
{
    width:50%;
    font-size: 25px;
    color:blueviolet;
    font-weight: bold;
}
#continer
{
    display:flex;
    justify-content: center;
    
}