body{
    background-color: black;
    color: white;
}

.navbar{
    border: 2px solid darkblue;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    padding-top: 50px;
}
.navbar a{
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 0 120px;
}

.box{
    border: 3px solid gray;
    /* margin: 0 50px; */
    height: 500px;
    width: 500px;
    text-align: center;
    margin-top: 60px;
    size: 100px;
    background-color: whitesmoke;
    /* box-shadow: 10px 10px 10px 10px whitesmoke; */
    background-color: black;
}
h1{
    color: orange;
}
.text p{
    font-size: 25px;
    color: white;
    margin: 0 25px 70px 25px;
}
.box a{
    font-size: 24px;
    color: aqua;
    text-decoration: none;
    
}

.image{
    width: 100px;
    height: 100px;
    margin-top: 50px;
}